{% extends 'base.html' %}

{% block body %}

    <h1>WELCOME TO FLASKER!</h1>
    <hr>

    {% if user.is_authenticated %}
    
        <div class="bg-light rounded p-2 shadow">
            <h4>
                {{ user.username }}
            </h4>
        </div>
    
    {% else %}
        <div class="bg-light rounded p-2 shadow">
            <h4><a href="{% url 'users:login' %}">Log In!</a></h4>
            <p>
                Don't have an account? Register <a href="{% url 'users:register' %}">Here</a>
            </p>
        </div>
    {% endif %}



{% endblock %}