<nav class="navbar navbar-expand-lg bg-body-tertiary shadow mb-5">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Flasker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                <a class="nav-link" href="{% url 'publications:publications' %}">Publications</a>


            </div>
            
            <div class="navbar-nav ms-auto">
                {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                
                {% else %}
                    <a class="nav-link m-auto" href="{% url 'users:profile' %}">Profile</a>
                    <a class="nav-link" href="{% url 'users:logout' %}">Log Out</a>
                {% endif %}


            </div>
        </div>
    </div>
</nav>
