{% extends 'base.html' %}

{% block body %}

    <form method="post" class="bg-dark p-3 shadow rounded text-white" style="margin-left: 30%; margin-right: 30%;">
        {% csrf_token %}
        {{ error_message }}
        <label for="" class="form-label">Password</label>
        <div>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>

        <label for="" class="form-label">Verify Password</label>
        <div>
            <input type="password" name="v_password" id="v_password" class="form-control" required>
        </div>

        <div class="d-flex mt-3">
            <a href="{% url 'index' %}" class="ms-auto btn btn-outline-warning">Cancel</a>
            <input type="submit" class="ms-1 btn btn-light" value="Reset">
        </div>
    </form>
{% endblock %}