{% extends 'base.html' %}

{% block body %}


    <form method="post" class="bg-dark p-3 rounded text-white" style="margin-left: 30%; margin-right: 30%;">
        <h1>Reset Password</h1>
        <hr>
        {% if sent_mail %}
            <div class="alert alert-dark alert-dismissible fade show text-center" role="alert">
                Email has been Sent!
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>   
        {% endif %}
        {{ error_message }} 
        {% csrf_token %}
        <label for="" class="form-label">Email</label>
        <div>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>

        <div class="d-flex mt-3">
            <a href="{% url 'users:login' %}" class="ms-auto btn btn-outline-warning">Cancel</a>
            <input type="submit" value="Reset" class="ms-1 btn btn-light">
        </div>
    </form>

{% endblock %}